<!DOCTYPE html>
<head>
    <title>Barnaby's Brewhouse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--Refreshes the page ever five minutes to keep content such as notifications,
        weather and news visually up to.-->
    <meta http-equiv="refresh" content="300">
</head>

<img src="https://cdn.discordapp.com/attachments/447471658551476264/647920357826756612/barnabys-brewhouse-header-logo.jpg" style="height: 5%; width: 5%;">

<h2>Error - Invalid CSV file</h2>
{{error}}
<br> <br>
<a href="http://127.0.0.1:5000/" style="background-color: white;
                                        color: #333333;
                                        text-decoration: none;
                                        padding: 2px 6px 2px 6px;
                                        border-top: 1px solid #CCCCCC;
                                        border-right: 1px solid #333333;
                                        border-bottom: 1px solid #333333;
                                        border-left: 1px solid #CCCCCC;">Back</a>
<!--https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button-->